<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<style>
			body {
				background-color: #484349;
			}
			input[type="text"] {
				background-color: #F7F0F0;
			}
			#histogramChart {
				background-color: #F7F0F0;
			}
		</style>
	</head>

	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-10 offset-1">
					<div class="input-group">
						<input type="text" id="twitterTextInput" class="form-control" placeholder="Twitter Query" /> 
						<span class="input-group-btn">
							<button id="searchBtn" class="btn btn-primary" type="button">Search</button>
						</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-10 offset-1" id="histogramChart">
					<!-- chart generated here -->
				</div>
			</div>
		</div>


		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>-->
		<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>-->
		<script>
			document.addEventListener('DOMContentLoaded', function(evt) {
				$('#histogramChart').height($('#histogramChart').width() * 1/2);
			});
		</script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>-->

		<script>
			google.charts.load("current", {packages:["corechart"]});
			google.charts.setOnLoadCallback(function() {
				$('#searchBtn').on('click', function(evt) {
					var value = $('#twitterTextInput').val();
					console.log('Search called');	
					$.getJSON('/query/' + value, function(data) {
						console.log(data);
						drawChart([["Tweet Text", "Sentiment"]].concat(data.data));
						/* 
						do what you want with percentages here 
						*/
					})
					$.ajax
				})
				
			});
			function drawChart(rawData) {
				var data = google.visualization.arrayToDataTable(rawData);
				var options = {
					title: 'Opinions of Tweets',
					legend: { position: 'none' },
					hAxis: { viewWindowMode: 'pretty' },
					vAxis: { viewWindowMode: 'pretty' },
					chartArea: {
						left:'10%',
						top:'10%',
						width: '75%',
						height: '75%'
					}
				};
				var chart = new google.visualization.Histogram(document.getElementById('histogramChart'));
				chart.draw(data, options);
			}
			
		</script>
	</body>
</html>